services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ai_document_search
      POSTGRES_USER: hasan
      POSTGRES_PASSWORD: hasan123
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "8001:8001"
    env_file:
      - ./backend/.env
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data: